@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.register-container {
    font-family: "Ubuntu";
    border: 1px solid red;
    height: 100vh;
    background-color: #ddd;
    display:flex;
    justify-content: center;
    align-items: center;
}

.register-container .register {
    padding: 20px; 
    background-color: white;
    border-radius: 8px;
}

form {
    width: 100%
}

#address {
    width: 100%;
    padding-left: 10px;
}

input {
    padding-left: 10px;
}

#register-button {
    margin-top: 10px;
    width:100%;
    background-color:#f44336;
    color: white;
    border: transparent;
    border-radius: 4px;
}